[Desktop Entry]
Type=Application
Name=Reward Chart
Name[sv]=Belöningskartan
GenericName=Visual reward and goal tracking
Comment=Visual reward and goal tracking
Comment[sv]=Stjärnbaserad belöningstavla
Exec=beloningskartan
Icon=se.danielnylander.beloningskartan
Terminal=false
Categories=Education;Accessibility;Autismappar
Keywords=autism;adhd;accessibility;children;
